* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header,
footer,
nav,
section,
aside,
main {
  display: block;
}
li{
  list-style: none;
}

#logo {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.wrapper {
  position: relative;
  display: block;
  width: 1000px;
  margin: 0 auto;
}

.flex-spanning {
  display: flex;
}

/*LAYOUT1*/
/*header*/
header {
  background-color: rgb(89, 109, 106);
  height: 190px;
  width: 100%;
}

/*nav*/
nav.horizontal {
  height: 60px;
  width: 100%;
  background-color: rgb(37, 37, 37);
}

nav.horizontal .wrapper {
  padding-left: 80px;
  background-color: rgb(37, 37, 37);
}

nav.horizontal .box {
  display: block;
  width: 230px;
  height: 40px;
  margin-top: 10px;
  background-color: rgb(37, 37, 37);
}
nav.horizontal .box:hover {
  background-color: rgb(47, 158, 192);
}
nav.horizontal .box .content {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav.horizontal .box.selected {
  background-color: rgb(47, 158, 192);
}

/*main*/
main.layout-one-box {
  background-color: rgb(132, 168, 179);
  height: 700px;
  width: 755px;
}

.content-area {
  height: 650px;
  margin-left: 40px;
  margin-top: 25px;
  margin-right: 25px;
}

/*aside*/
aside.layout-one {
  display: block;
  background-color: rgb(121, 147, 161);
  height: 700px;
  width: 245px;
}

aside.layout-one .content-area.side {
  width: 190px;
}

/*footer*/
footer {
  background-color: rgb(89, 109, 106);
  height: 50px;
  width: 100%;
}

/*designed objects*/

.four-squares-box {
  display: flex;
  width: 240px;
  height: 240px;
}

.four-squares-box.bottom {
  margin-top: 175px;
  margin-left: 455px;
}

.square {
  display: block;
  background-color: rgb(233, 106, 106);
  width: 100px;
  height: 100px;
  margin-right: 35px;
  margin-bottom: 35px;
}
.square.side {
  margin: 0px;
  margin-top: 175px;
  width: 150px;
  height: 60px;
  float: right;
}

/*LAYOUT2*/
.wrapper.flex-spanning.layout-two {
  height: 806px;
}

/*body*/
body.layout-two{
  margin-bottom: 50px;
}

/*nav*/
nav.vertical {
  display: block;
  width: 145px;
  top: 0px;
  background-color: rgb(37, 37, 37);
}
nav.vertical .box {
  display: block;
  height: 60px;
  background-color: rgb(37, 37, 37);
}

nav.vertical .box:hover {
  background-color: rgb(47, 158, 192);
}

nav.vertical .box.selected {
  color: white;
  background-color: rgb(47, 158, 192);
}

nav.vertical .box .content {
  display: block;
  margin-left: 6px;
  padding-top: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/*aside*/
aside.layout-two {
  background-color: rgb(121, 147, 161);
  width: 260px;
}

aside.layout-two .content-area {
  margin: 20px 12px;
}

aside.layout-two .content-area .four-squares-box {
  padding-top: 490px;
  bottom: 0px;
}

/*main*/
main.layout-two-box {
  display: block;
  width: 600px;
  background-color: rgb(132, 168, 179);
}
main.layout-two-box .content-area {
  margin: 20px 20px;
}

.square.ver-two {
  width: 270px;
  margin-right: 20px;
  margin-bottom: 25px;
}

.left-column .square.square.ver-two.top {
  height: 325px;
}
.left-column .square.square.ver-two.bottom {
  height: 412px;
}
.right-column .square.square.ver-two.top {
  height: 255px;
}
.right-column .square.square.ver-two.bottom {
  height: 365px;
}

/*footer*/
footer.layout-two {
  position: fixed;
  bottom: 0px;
}

/*LAYOUT3*/
/*body*/
.layout-three nav.horizontal .box{
  display: block;
  /* border: 1px solid black; */
  height: 60px;
  margin: 0px;
  width: 235px;
}

.layout-three nav.horizontal {
  height: 60px;
  width: 100%;
  background-color: rgb(168, 168, 168);
}

.layout-three nav.horizontal .box:hover {
  background-color: rgb(47, 158, 192);
}
.layout-three nav.horizontal .box .content {
  margin: 0px;
  padding-top:20px ;
  height: 60px;
}

.layout-three nav.horizontal .box.selected {
  background-color: rgb(47, 158, 192);
}
.layout-three nav.horizontal .wrapper {
  display: flex;
  justify-content: center;
  background-color: rgb(37, 37, 37);
  width: 100%;
  margin: 0px;
  padding-left: 0px;
}

/*nav*/

/*main*/
.wrapper.layout-three{
  /* background-color: violet; */
  background-color: rgb(212, 166, 212);

}

.layout-three .content-area{
  background-color: rgb(90, 83, 90);
  margin: 0px;
  /* width: 100%; */

}
.row{
  display: flex;
  border: solid 1px black;
  clear: both;
}

.wrapper.layout-three .square{
  display: none;
  width: 335px;
  height: 350px;
  margin: 0px;
  background-repeat: no-repeat;
  background-position: center;

}

/*squares*/
.square.one{
  background-color: rgb(70, 60, 41);
  background-image: url(../images/logo.png);  
}
.square.two{
  background-color: wheat;
  background-image: url(../images/logo.png);
}
.square.three{
  background-color: rgb(138, 124, 100);
  background-image: url(../images/logo.png);
}

.square.four{
  background-color: rgb(214, 214, 214);
  background-image: url(../images/logo.png);
  background-position: center;
}
.square.five{
  background-color: rgb(212, 208, 189);
  background-image: url(../images/logo.png);
}
.square.six{
  background-color: rgb(223, 197, 126);
  background-image: url(../images/logo.png);
}

.square.one:hover{
  background-color: black;
}
.square.two:hover{
background-color: black;
}
.square.three:hover{
  background-color: black;
}

/*footer*/
